<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin name="Amasty_StoreCreditProduct::addStoreCredit"
                type="Amasty\StoreCreditProduct\Plugin\Sales\Model\ResourceModel\Order\AddStoreCredit"/>
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="Amasty_StoreCreditProduct::deductStoreCredit"
                type="Amasty\StoreCreditProduct\Plugin\Sales\Api\CreditmemoRepositoryInterface\DeductStoreCredit"/>
    </type>
</config>
