
<div class="cart-popup-content testings">
    <div class="cart-popup-title" html="title"></div>
    <div class="actions-toolbar">
        <div class="primary">
            <button class="action action-cart-url"
                    type="button"
                    data-bind="click: movecartUrl">
                <span translate="'View Cart'"/>
            </button>
            <button class="action action-continue-shopping"
                    type="button"
                    click="continueShopping">
                <span translate="'Continue shopping'"/>
            </button>
        </div>
    </div>
</div> 
