.pincode-field {
    padding: 0px 0px 15px;
    width: 70%;
    display: inline-flex;
}
#pincode-check {
    font-weight: bold !important;
    text-transform: uppercase;
}
#pincode-avail .pincode_avail{
    color: green;
}
#pincode-avail .pincode_notavail{
    color: red;
}
#pincode-avail h3{
    font-size: 12px;
}.pincode_avail::after {
    content: "\f058";
    font-family: 'FontAwesome' !important;
    padding: 0px 4px 0 0;
    font-size: 14px;
}
.pincode_notavail::before {
    content: "\f00d";
    font-family: 'FontAwesome' !important;
    padding: 0px 4px 0 0;
    font-size: 14px;
}